body {
  background-image: url("./assets/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
  display: grid;
}

header {
  background-color: rgba(0, 0, 0, 0.7019607843);
  & h1 {
    font-family: "Amatic SC", handwriting;
    font-size: 4rem;
  }
}

main {
  display: grid;
  justify-items: center;
}

img {
  pointer-events: none;
}

p {
  font-size: 18px;
  max-inline-size: 75ch;
  margin: auto;
}
ul {
  display: flex;
  flex-direction: column;
}
ul li {
  text-align: center;
  & img {
    width: 20%;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("./assets/background-high.webp");
    & main {
      grid-template-columns: 2fr 1fr;
    }
    & li img {
      width: 50%;
    }
  }
}
